body{
    font: normal, 16px, arial, verdana, serif;
    text-align: left;
}h1{
    text-align: center;
}h2{
    text-align: center;
    color: rgb(27, 24, 24);
}p{
    text-align: justify;
    text-indent: 30px;
}